body {
	background-color: white;
	font-family: 'Sacramento', cursive;
	font-size: 27px;
}

h2, h3 {
	color: #3399ff;
	font-size: 30px;
}

.divSections {
	max-width: 900px;
	margin: auto;
}

table {
	width: 100%;
	text-align: justify;
}

.celdaServicios {
	width: 300px;
	padding: 0 20px;
}

div.celdaIcon p{
	display: inline-block;
}

div.celdaIcon h3{
	display: inline-block;
}

