body {
	background-color: white;
	font-family: 'Sacramento', cursive;
	font-size: 25px;
}

.divSections {
	
}

table {
	max-width: 900px;
	margin: auto;
}

.celdaServicios {
	width: 300px;
	padding: 0 10px;
}

div.celdaIcon p{
	display: inline-block;
}

div.celdaIcon h3{
	display: inline-block;
}

