body {
	background-color: white;
}

.divSections {
	
}

table {
	max-width: 700px;
	margin: auto;
}

.celdaServicios {
	width: 300px;
	padding: 0 10px;
}

div.celdaIcon p{
	display: inline-block;
}

div.celdaIcon h3{
	display: inline-block;
}

