	body{
		background: url("images/fondo.gif");
		font-family: 'Sacramento', cursive;
		font-size: 25px;
	}
	
	h2, h3 {
	color: #3399ff;
	}
	
	h2 {
		font-size: 35px;
	}
	
	h3 {
		font-size: 30px;
	}
	
	header, footer {
		width: 100%;
		margin-top: 1em;
		background-color: #3399ff;
		border-top: 5px solid #ffc34d;
		border-bottom: 5px solid #ffc34d;
	}

	#logo {
		position: relative;
		width: 350px;
		height: 150px;
		top: 5px;
		margin: 0 auto;
	}
	
	#div-img-header {
		width: 350px;
		display: inline-block;
		padding-left: 10%;
	}

	nav {
		margin-left: 20%;
		width: 550px;
		display: inline-block;
		position: relative;
		bottom: 0.8em;
		font-size: 27px;
	}

	nav ul {
		width: 500px;
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    overflow: hidden;
	}

	nav li {
		min-width: 110px;
		text-align: center;
	    float: left;
	   	background-color: #2864B5
	    margin: 0 1em;
	    border-radius: 15px;
	}

	nav li p {
	    display: inline-block;
	    color: white;
	    text-align: center;
	    text-decoration: none;
	}

	nav li:hover{
	    background-color: #ffc34d;
	    
	}
	
	nav li:hover p {
		color: black;
	}

	nav li.desplegable {
	    display: inline-block;
	}

	#desplegado {
	    display: none;
	    position: absolute;
	    background-color: #f9f9f9;
	    border-radius: 15px;
	    min-width: 200px;
	    box-shadow: 0px 8px 10px rgba(0,0,0,0.3);
	    z-index: 1;
	}

	#desplegado a {
	    color: black;
	    padding: 12px 16px;
	    text-decoration: none;
	    display: block;
	    text-align: left;
	}

	#desplegado a:hover {
		background-color: #e6e6e6;
		border-radius: 15px;
	}
	
	#iconosSociales{
		display: inline-block;
		position: relative;
		left: 5em;
		bottom: 5px;
	}
	
	#contenedor {
		position: relative;
	}
	
	section {
		width: 960px;
		margin: 15px 0;
		margin-left: 25%;
		margin-right: 2.5em;
		padding: 10px;
		z-index: 0;
		background-color: white;
		opacity: 0.98;
		display: inline-block;
		border-radius: 15px;
		font-family: 'Comic Sans MS';
	}
	
	#carrusel {
		width: 720px;
		height: 360px;
		margin: 3em auto;
		padding: 20px;
		position: relative;
		opacity: 1;
		background-color: grey;
		border-radius: 15px;
	}
	
	#prevDiv {
		position: absolute;
		bottom: 165px;
		left: -15px;
	}
	
	#nextDiv {
		position: absolute;
		bottom: 165px;
		right: -15px;
	}
	
	/*trasicion para el carrusel
	#imageCarrusel {
		opacity: 1.0;
		transition: all 0.5s;
	}*/
	
	
	
	#serviciosSection iframe {
		width: 100%;
	}
	
	aside {
		margin: 15px 0;
		padding: 10px;
		position: absolute;
		width: 300px;
		display: inline-block;
		background-color: white;
		opacity: 0.98;
		border-radius: 15px;
	}
	
	#login {
		margin-left: 2em;
		position: relative;
		top: -1em;
	}
	
	aside a {
		font-size: 20px;
		margin-left: 1em;
		position: relative;
		top: -1em;
	}
	
	footer {
		clear: both;
		padding: 10px;
		margin-bottom: 0;
		font-size: 24px;
	}
	
	#divFooter {
		width: 980px;
		margin: 0 auto;
		left: 200px;
	}
	
	.cajaFooter {
		display: inline-block;
		min-width: 250px; 
		margin: 0 0.5em;
		color: black;
	}
