	body{
		background: url("images/fondo.gif");
		font-family: 'Sacramento', cursive;
		font-size: 25px;
	}
	
	header, footer{
		width: 100%;
		margin-top: 1em;
		background-color: #3399ff;
		border-top: 5px solid #53D19A;
		border-bottom: 5px solid #53D19A;
	}

	#logo {
		position: relative;
		top: 5px;
		margin: 0 auto;
	}
	
	#div-img-header {
		width: 20%;
		display: inline-block;
		padding-left: 10%;
	}

	nav {
		width: 55%;
		display: inline-block;
		position: relative;
		bottom: 0.8em;
		font-size: 27px;
	}

	ul {
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    overflow: hidden;
	}

	li {
		min-width: 110px;
		text-align: center;
	    float: left;
	   	background-color: #2864B5
	    opacity: 0.95;
	    margin: 0 1em;
	    border-radius: 15px;
	}

	li p {
	    display: inline-block;
	    color: white;
	    text-align: center;
	    text-decoration: none;
	}

	li:hover{
	    background-color: #ffc34d;
	    
	}
	
	li:hover p {
		color: black;
	}

	li.desplegable {
	    display: inline-block;
	}

	#desplegado {
	    display: none;
	    position: absolute;
	    background-color: #f9f9f9;
	    border-radius: 15px;
	    min-width: 200px;
	    box-shadow: 0px 8px 10px rgba(0,0,0,0.3);
	    z-index: 1;
	}

	#desplegado a {
	    color: black;
	    padding: 12px 16px;
	    text-decoration: none;
	    display: block;
	    text-align: left;
	}

	#desplegado a:hover {
		background-color: #e6e6e6;
		border-radius: 15px;
	}
	
	#iconosSociales{
		display: inline-block;
		position: relative;
		left: 4%;
		bottom: 5px;
	}
	
	section {
		width: 65%;
		margin: 2em auto;
		position: relative;
		z-index: 0;
		background-color: white;
		opacity: 0.97;
		
	}
	
	h2, h3 {
	color: #3399ff;
	}
	
	h2 {
		font-size: 30px;
	}
	
	h3 {
		font-size: 30px;
	}
	
	.divSection {
	max-width: 950px;
	margin: auto;
	}
	
	table {
		width: 100%;
		text-align: justify;
	}
	
	.celdaServicios {
		width: 300px;
		padding: 0 20px;
	}
	
	div.celdaIcon p{
		display: inline-block;
	}
	
	div.celdaIcon h3{
		display: inline-block;
	}
	
	aside {
		display: inline-block;
		float: left;
	}
